<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
                <li routerLinkActive="active"><a [routerLink]="['shopping-list']">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-container *ngIf="!isAuthenticated()">
                    <li outerLinkActive="active"><a routerLink="/signup">Register</a></li>
                    <li outerLinkActive="active"><a routerLink="/signin">Log In</a></li>
                </ng-container>
                <li *ngIf="isAuthenticated()">
                    <a style="cursor: pointer;" (click)="onLogout()">Log Out</a>
                </li>
                <li class="dropdown" *ngIf="isAuthenticated()" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="cursor: pointer;" (click)="onSaveData()"><a>Save Data</a></li>
                        <li style="cursor: pointer;" (click)="onFetchData()"><a>Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>